html,
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

header{
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;              /* Прижимаем к верху */
    left: 0;              /* Прижимаем к левому краю */
    right: 0;             /* Растягиваем на всю ширину */
    z-index: 1000;
}

.header_inner{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    width: auto;
    margin-left: 80px;
}

.header_logo > img{
    width: 100%;
    height: auto;
}

.but_catalog{
    width: 125px;
    height: 50px;
    border-radius: 33px;
    background-color: #42546E;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.but_catalog a{
    margin: 0;
}

.header_nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 60px;
    padding: 0;
    margin: 0;
}

.header_nav_menu a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 25px;

}


.header_button_icons{
    width: 230px;
    height: 50px; 
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    margin-right: 80px;
}
.header_button_icons > button{
    width: 50px;
    height: 50px;
    background-color: #E9F1F7;
    border: none;
    border-radius: 10px;
}

main {
    margin-top: 100px;
}

.section_katalog{
    width: 100%;
    height: 963px;
    display: flex;
    flex-direction: column;
}


.section_catalog_info{
    width: 100%;
    height: 230px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.section_catalog_info h3{
    color: #42546E;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 150px;
}

#cat_info_nav{
    font-size: 20px;
    margin: 0;
    margin-left: 150px;
}

.section_products_post{
    width: 1010px;
    height: 533px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    margin: 0 auto;
}

.post{
    width: 300px;
    height: 239px;
}
.post a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post img{
    border: 2px solid #DCDCDC;
    border: 24px;
}
.post h3{
    color: #42546E;
    margin: 0;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
} 

.footer{
    width: 100%;
    height: 512px;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer_column{
    width: 23%;
    height: 298px;
    margin-top: 50px;
}
.footer_column h3{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.footer_menu{
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer_menu a{
    text-decoration: none;
    color: #e2e2e2;
    font-size: 20px;  
}
.footer-bottom {
    width: 80%;
    height: 97px;
    border-top: 1px solid rgb(146, 146, 146);
    margin-top: 66px;
    display: flex;
    align-items: center;
}
.footer-bottom-content{
    width: 100%;
    height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-bottom-content a{
    text-decoration: none;
    color: #989898;
    font-size: 18px;
}
