html,
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

header{
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;              /* Прижимаем к верху */
    left: 0;              /* Прижимаем к левому краю */
    right: 0;             /* Растягиваем на всю ширину */
    z-index: 1000;
}

.header_inner{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    width: auto;
    margin-left: 80px;
}

.header_logo > img{
    width: 100%;
    height: auto;
}

.but_catalog{
    width: 125px;
    height: 50px;
    border-radius: 33px;
    background-color: #42546E;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.but_catalog a{
    margin: 0;
}

.header_nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 60px;
    padding: 0;
    margin: 0;
}

.header_nav_menu a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 25px;

}


.header_button_icons{
    width: 230px;
    height: 50px; 
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    margin-right: 80px;
}
.header_button_icons > button{
    width: 50px;
    height: 50px;
    background-color: #E9F1F7;
    border: none;
    border-radius: 10px;
}

main {
    margin-top: 100px;
}

.section_detali_tovara{
    width: 100%;
    height: auto;
    /* background-color: #c9dbf6; */
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}

.section_detali_tovara_info{
    width: 100%;
    height: 230px;
    /* background-color: aqua; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#detali_tovara_info_nav{
    font-size: 20px;
    margin: 0;
    margin-left: 150px;
}

.section_detali_tovara_info h3{
    color: #42546E;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-left: 150px;
}

.section_detali_tovara_post{
    width: 100%;
    height: 413px;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
}

.section_detali_tovara_post_photo{
    width: 324px;
    height: 275px;


}

.section_detali_tovara_post_photo img{
    width: 324px;
    height: 273px;
}

.section_detali_tovara_post_attributes{
    width: 50%;
    /* background-color: blue; */
    height: 275px;
    margin-left: 100px;
}
.attributes_items{
    width: 100%;
    height: 275px;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attributes_row {
    display: flex;
    align-items: end;
    width: 80%;
    margin-bottom: 15px;
}

.attr_name{
    font-size: 20px;
    color: #42546E;
    font-weight: bold;
}

.attr-line {
    flex: 1;              
    height: 1px;
    border-bottom: 2px solid #42546E;
    margin: 0 10px;
    /* min-width: 20px;       */
}

.attr-value{
    font-size: 20px;
    color: #42546E;
    font-weight: bold;
}

.attributes_items button{
    /* margin-top: 10px; */
    width: 141px;
    height: 44px;
    background-color: #42546E;
    border-radius: 44px;
    border: none;
    color: white;
    font-size: 17px;
}
