<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}">
    <title>Админ-панель - ИнТехЛайт</title>
</head>
<body>
    <header>
        <div class="admin_panel_acc">
            <h1>Административная панель</h1>
            <div class="admin_logout">
                <p>{{ session.get('admin_username', 'админ') }}</p>
                <button type="button" onclick="window.location.href='/admin/logout'">Выйти</button>
            </div>
        </div>
        <div class="flash_messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </header>

    <main>
        <section class="admin_section">
            <!-- Навигация по вкладкам -->
            <nav class="nav_admin">
                <ul class="nav_admin_list">
                    <li>
                        <button class="but_categ {% if active_tab == 'categories' %}active{% endif %}" onclick="showTab('categories', this)">
                            Категории
                        </button>
                    </li>
                    <li>
                        <button class="but_tovar {% if active_tab == 'products' %}active{% endif %}" onclick="showTab('products', this)">
                            Товары
                        </button>
                    </li>
                    <li>
                        <button class="but_charakter {% if active_tab == 'attributes' %}active{% endif %}" onclick="showTab('attributes', this)">
                            Типы характеристик
                        </button>
                    </li>
                    <li>
                        <button class="but_zayavki {% if active_tab == 'orders' %}active{% endif %}" onclick="showTab('orders', this)">
                            Заявки
                        </button>  
                    </li>
                </ul>
            </nav> 

            <div class="line"></div>

            <!-- Вкладка КАТЕГОРИИ -->
            <div id="categories" class="tab_content {% if active_tab == 'categories' %}active{% endif %}">
                <div class="section_panel_data">
                    <h2>Управление категориями</h2>
                    <button class="but_add" onclick="openAddCategoryModal()">Добавить</button>
                </div>
                <div class="card_container">
                    {% for category in categories %}
                    <div class="card_inner">
                        <img src="{{ url_for('static', filename='img/small/' + (category.image or 'default_category.png')) }}" alt="{{ category.name }}" class="card_image"/>
                        <h3 class="card_title">{{ category.name }}</h3>
                        <div class="card_inner_button">
                            <button onclick="openEditCategoryModal('{{ category.id }}', '{{ category.name }}', '{{ category.image }}')">Редактировать</button>
                            <button id="but_delete" onclick="deleteCategory('{{ category.id }}')">Удалить</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Вкладка ТОВАРЫ -->
            <div id="products" class="tab_content {% if active_tab == 'products' %}active{% endif %}">
                <div class="section_panel_data">
                    <h2>Управление товарами</h2>
                    <button class="but_add" onclick="openAddProductModal()">Добавить</button>
                </div>

                <!-- ===== ДОБАВИТЬ ФИЛЬТР ПО КАТЕГОРИЯМ ===== -->
                <div class="filter_section">
                    <select id="product_category_filter" onchange="filterProductsByCategory()">
                        <option value="all">Все категории</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Группируем товары по категориям -->
                {% set categories_dict = {} %}
                {% for product in products %}
                {% if product.category.name not in categories_dict %}
                {% set _ = categories_dict.update({product.category.name: []}) %}
                {% endif %}
                {% set _ = categories_dict[product.category.name].append(product) %}
                {% endfor %}

                <!-- Перебираем категории по порядку -->
                {% for category_name, category_products in categories_dict.items() %}
                <section class="category_section" data-category-id="{{ category_products[0].category_id }}">
                    <div class="card_container">
                        {% for product in category_products %}
                        <div class="card_inner">
                            <img src="{{ url_for('static', filename='img/small/' + (product.image)) }}" alt="{{ product.name }}" class="card_image"/>
                            <h4 class="card_title">{{ product.name }}</h4>
                            <p class="card_specs">{{ product.short_specs }}</p>
                            <p class="card_price">{{ product.price }} ₽ / {{ product.unit or 'шт' }}</p>
                            {% if product.old_price %}
                            <p class="old_price">Старая цена: {{ product.old_price }} ₽</p>
                            {% endif %}
                            <div class="card_inner_button">
                                <button data-id="{{ product.id }}" data-name="{{ product.name }}" data-image="{{ product.image|default('') }}" data-specs="{{ product.short_specs|default('') }}" data-price="{{ product.price }}" data-unit="{{ product.unit|default('шт') }}" data-article="{{ product.article }}" data-category="{{ product.category_id }}" data-desc="{{ product.full_description|default('') }}" data-oldprice="{{ product.old_price|default('') }}" onclick="openEditProductModalFromData(this)">Редактировать</button>
                                <button class="but_attributes"  id="but_attributes" onclick="openProductAttributesModal('{{ product.id }}')">Заполнить значения</button>
                                <button id="but_delete" onclick="deleteProduct('{{ product.id }}')">Удалить</button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
                {% endfor %}
            </div>
            
            <!-- Вкладка ХАРАКТЕРИСТИКИ  -->
            <div id="attributes" class="tab_content {% if active_tab == 'attributes' %}active{% endif %}">
                <div class="section_panel_data">
                    <h2>Управление типами характеристик</h2>
                    <button class="but_add" onclick="openAddAttributeModal()">Добавить</button>
                </div>
                
                <div class="filter_section">
                    <select id="category_filter" onchange="filterAttributes()">
                        <option value="all">Все категории</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <div class="card_container" id="attributes_card_container">
                    {% for attr in attributes %}
                    <div class="card_inner attribute_card" data-category-id="{{ attr.category_id }}">
                        <h3 class="card_title" id="title_charackter">{{ attr.name }}</h3>
                        <p class="card_specs">{{ attr.category.name if attr.category else '—' }}</p>
                        <p class="card_price">{{ attr.unit or '—' }}</p>
                        <div class="card_inner_button">
                            <button onclick="openEditAttributeModal('{{ attr.id }}', '{{ attr.name }}', '{{ attr.unit }}', '{{ attr.category_id }}')">Редактировать</button>
                            <button id="but_delete" onclick="deleteAttribute('{{ attr.id }}')">Удалить</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <!-- Вкладка ЗАЯВКИ -->
            <div id="orders" class="tab_content {% if active_tab == 'orders' %}active{% endif %}">
                <div class="section_panel_data">
                    <h2>Заявки клиентов</h2>
                    <!-- <div>
                        <button class="but_add" onclick="exportRequests()">📊 Экспорт в Excel</button>
                    </div> -->
                </div>
                
                
                <div class="filter_section">
                    <select id="statusFilter" class="status_filter_select">
                        <option value="all">Все заявки</option>
                        <option value="new">Новые</option>
                        <option value="processed">В обработке</option>
                        <option value="completed">Выполненные</option>
                        <option value="cancelled">Отменённые</option>
                    </select>
                </div>
                
                <div class="card_container">
                    {% for req in requests %}
                    <div class="request_card" data-request-id="{{ req.id }}" data-status="{{ req.status }}">
                        <div class="request_card_header">
                            <div class="request_id">Заявка №{{ req.id }}</div>
                            <div class="request_date">{{ req.created_at.strftime('%d.%m.%Y %H:%M') }}</div>
                        </div>
                        <div class="request_card_info">
                            <div class="request_info_row">
                                <div class="info_label">Клиент:</div>
                                <div class="info_value">{{ req.name }}</div>
                            </div>
                            <div class="request_info_row">
                                <div class="info_label">Телефон:</div>
                                <div class="info_value"><a href="tel:{{ req.phone }}" style="color: #42546E;">{{ req.phone }}</a></div>
                            </div>
                            
                            <div class="request_info_row">
                                <div class="info_label">Коммент:</div>
                                <div class="info_value comment_text">
                                    {% if req.comment %}
                                    {{ req.comment|truncate(100) }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </div>
                            </div>
                            <div class="request_info_row">
                                <div class="info_label">Сумма:</div>
                                <div class="info_value price">{{ "%.2f"|format(req.total_sum) }} ₽</div>
                            </div>
                            <div class="request_info_row">
                                <div class="info_label">Товаров:</div>
                                <div class="info_value">{{ req.items|length }} шт</div>
                            </div>
                        </div>
                        <div class="request_card_actions">
                            <button class="btn_view_items" onclick="viewRequestItems('{{ req.id }}')">
                                Просмотр товаров ({{ req.items|length }})
                            </button>
                            
                            <div class="request_status">
                                <select onchange="updateRequestStatus('{{ req.id }}', this.value)" class="status_select" name="status">
                                    <option value="new" {% if req.status == 'new' %}selected{% endif %}>Новая</option>
                                    <option value="processed" {% if req.status == 'processed' %}selected{% endif %}>В обработке</option>
                                    <option value="completed" {% if req.status == 'completed' %}selected{% endif %}>Выполнена</option>
                                    <option value="cancelled" {% if req.status == 'cancelled' %}selected{% endif %}>Отменена</option>
                                </select>
                            </div>
                            <button class="btn_delete_request" onclick="deleteRequest('{{ req.id }}')">
                                Удалить
                            </button>
                        </div>
                    </div>
                    {% else %}
                    <div class="empty_requests">
                        <p>Нет заявок</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <!-- Модальное окно для добавления категории -->
    <div id="addCategoryModal" class="modal">
        <!-- <span class="close" onclick="closeModal('addCategoryModal')">&times;</span> -->
        <form method="POST" action="/admin/add_category" enctype="multipart/form-data" class="form_cat">
            <h3 class="modal_title">Добавление категории</h3>
            <div class="form_group">
                <label class="form_label">
                    Название категории:
                    <input type="text" name="name" class="form_input" placeholder="Название" required>
                </label>
            </div>
            <div class="form_group">
                <label class="form_label">
                    Изображение:
                    <input type="file" name="image" id="addCategoryImage" class="form_input" accept="image/*" onchange="previewImage(this, 'addImagePreviewContainer', 'addImagePreview')">
                </label>
            </div>
            <div id="addImagePreviewContainer" class="previiew">
                <img id="addImagePreview" src="#" alt="Превью">
            </div>

            <div class="modal_actions">
                <button type="submit" class="but_save">Сохранить</button>
                <button type="button" class="but_cancel" onclick="closeModal('addCategoryModal')">Отмена</button>
            </div>
        </form>
    </div>


    <!-- Модальное окно для редактирования категории -->
    <div id="editCategoryModal" class="modal">
        <!-- <span class="close" onclick="closeModal('editCategoryModal')">&times;</span> -->
        <form id="editCategoryForm" method="POST" enctype="multipart/form-data" class="form_cat">
            <h3 class="modal_title">Редактирование категории</h3>
            <input type="hidden" id="edit_category_id" name="id">
            <div class="form_group">
                <label class="form_label">
                    Название категории:
                    <input type="text" id="edit_category_name" name="name" class="form_input" required>
                </label>
            </div>

            <div class="form_group">
                <label class="form_label">
                    <input type="file" name="image" id="editCategoryImage" class="form_input" accept="image/*" onchange="previewEditImage(this, 'current_category_image', 'editImagePreviewContainer', 'editImagePreview')">
                </label>
            </div>

            <div class="form_group">
                <label class="form_label">
                    Текущее изображение:
                    <img id="current_category_image" src="" alt="Текущее изображение" class="preview_img">
                </label>
            </div>
            
            
            <!-- Блок для превью нового изображения -->
            <div id="editImagePreviewContainer" class="previiew" style="display: none;">
                <img id="editImagePreview" src="#" alt="Превью нового фото">
            </div>
            
            <div class="modal_actions">
                <button type="submit" class="but_save">Сохранить изменения</button>
                <button type="button" class="but_cancel" onclick="closeModal('editCategoryModal')">Отмена</button>
            </div>
        </form>
    </div>

    <!-- Модальное окно для подтверждения удаления -->
    <div id="deleteCategoryModal" class="modal">
        <div class="modal_delete">
            <!-- <span class="close" onclick="closeModal('deleteCategoryModal')">&times;</span> -->
            <h3 class="modal_title">Подтверждение удаления</h3>
            <p id="delete_message">Вы действительно хотите удалить категорию?</p>
            <div class="modal_actions">
                <button class="but_del" onclick="confirmDelete()">Удалить</button>
                <button class="but_cancel" onclick="closeModal('deleteCategoryModal')">Отмена</button>
            </div>
        </div>
    </div>

        <!-- Модальное окно для добавления товара -->
    <div id="addProductModal" class="modal">
        <!-- <span class="close" onclick="closeModal('addProductModal')">&times;</span> -->
        <form method="POST" action="/admin/add_product" enctype="multipart/form-data" class="form_cat">
            <h3 class="modal_title">Добавление товара</h3>
            <!-- 1. Название товара (обязательно) -->
            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Название товара:
                        <input type="text" name="name" class="form_input" placeholder="Например: Подшипник SKF" required>
                    </label>
                    <label class="form_label">
                        Категория:
                        <select name="category_id" class="form_input" required>
                            <option value="" id="vp_spisok">Выберите категорию</option>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            
            <!-- 2. Артикул (уникальный) -->
            <div class="form_group">
                <label class="form_label">
                    Артикул:
                    <input type="text" name="article" class="form_input" placeholder="Например: 11000" required>
                </label>
            </div>
                   
            <!-- 4. Цена -->
            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Цена (₽):
                        <input type="number" name="price" class="form_input" step="0.01" placeholder="0.00" required>
                    </label>
                    <label class="form_label">
                        Единица измерения:
                        <select name="unit" class="form_input">
                            <option value="шт">шт</option>
                            <option value="м">м</option>
                            <option value="10 шт">10 шт</option>
                            <option value="10 шт">10 м</option>
                            <option value="10 шт">20 м</option>
                            <option value="50 м">50 м</option>
                            <option value="50 м">1 рул</option>
                        </select>
                    </label>
                </div>
            </div>
              
            <!-- 6. Краткое описание (спецификации) -->
            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Краткое описание:
                        <input type="text" name="short_specs" class="form_input" placeholder="Например: 7x19x6мм">
                    </label>
                    <label class="form_label">
                        Полное описание:
                        <textarea name="full_description" class="form_input" rows="4" placeholder="Подробное описание товара..."></textarea>
                    </label>
                </div>
            </div>
                    
            <!-- 8. Изображение (с превью) -->
            <div class="form_group">
                <label class="form_label">
                    Изображение:
                    <input type="file" name="image" id="addProductImage" class="form_input" accept="image/*" onchange="previewImage(this, 'addProductImagePreviewContainer', 'addProductImagePreview')">
                </label>
            </div>
            
            <!-- Блок для превью -->
            <div id="addProductImagePreviewContainer" class="previiew">
                <img id="addProductImagePreview" src="#" alt="Превью">
            </div>
            
            <div class="modal_actions">
                <button type="submit" class="but_save">Сохранить товар</button>
                <button type="button" class="but_cancel" onclick="closeModal('addProductModal')">Отмена</button>
            </div>
        </form>
    </div>
    
    <!-- Модальное окно для редактирования товара -->
    <div id="editProductModal" class="modal">
        <!-- <span class="close" onclick="closeModal('editProductModal')">&times;</span> -->
        <form id="editProductForm" method="POST" enctype="multipart/form-data" class="form_cat">
            <h3 class="modal_title">Редактирование товара</h3>
            <input type="hidden" id="edit_product_id" name="id">
            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Название товара:
                        <input type="text" id="edit_product_name" name="name" class="form_input" required>
                    </label>
                    <label class="form_label">
                        Категория:
                        <select id="edit_product_category" name="category_id" class="form_input" required>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>

            <!-- 2. Артикул (уникальный) -->
            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Артикул:
                        <input type="text" id="edit_product_article" name="article" class="form_input" required>
                    </label>
                    <label class="form_label">
                        Новое изображение:
                        <input type="file" name="image" id="editProductImage" class="form_input" accept="image/*" onchange="previewEditImage(this, 'edit_product_current_image', 'editProductImagePreviewContainer', 'editProductImagePreview')">
                    </label>
                </div>
            </div>
                   
            <!-- 4. Цена -->
            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Цена (₽):
                        <input type="number" id="edit_product_price" name="price" class="form_input" step="0.01" required>
                    </label>
                    <label class="form_label">
                        Единица измерения:
                        <select id="edit_product_unit" name="unit" class="form_input">
                            <option value="шт">шт</option>
                            <option value="м">м</option>
                            <option value="10 шт">10 шт</option>
                            <option value="50 м">50 м</option>
                        </select>
                    </label>
                </div>
                <div class="old_price_box">
                    <span class="old_price_label">Старая цена:</span>
                    <span id="edit_product_old_price_display" class="old_price_value"></span>
                </div>

                <input type="hidden" id="edit_product_old_price" name="old_price" value="">
            </div>

            <div class="form_group">
                <div class="form_group_inner">
                    <label class="form_label">
                        Краткое описание:
                        <input type="text" id="edit_product_short_specs" name="short_specs" class="form_input" placeholder="Например: 7x19x6мм">
                    </label>
                    <label class="form_label">
                        Полное описание:
                        <textarea id="edit_product_full_description" name="full_description" class="form_input" rows="8" placeholder="Подробное описание товара..."></textarea>
                </div>
            </div>

            <div class="form_group">
            <div class="form_group_inner">
                <label class="form_label">
                    Текущее изображение:
                    <img id="edit_product_current_image" src="" alt="Текущее" class="preview_img">
                </label>
            </div>
        </div>
        
        <!-- Превью нового изображения -->
        <div id="editProductImagePreviewContainer" class="previiew">
            <img id="editProductImagePreview" src="#" alt="Превью">
        </div>
        
        <div class="modal_actions">
            <button type="submit" class="but_save">Сохранить изменения</button>
            <button type="button" class="but_cancel" onclick="closeModal('editProductModal')">Отмена</button>
        </div>

        </form>
    </div>

    <!-- Модальное окно для удаления товара -->
    <div id="deleteProductModal" class="modal">
        <div class="modal_delete">
            <!-- <span class="close" onclick="closeModal('deleteProductModal')">&times;</span> -->
            <h3 class="modal_title">Подтверждение удаления</h3>
            <p id="delete_message">Вы действительно хотите удалить товар?</p>
            <div class="modal_actions">
                <button class="but_del" onclick="confirmDeleteProduct()">Удалить</button>
                <button class="but_cancel" onclick="closeModal('deleteProductModal')">Отмена</button>
            </div>
        </div>
    </div>

    <!-- Модальное окно для заполнения характеристик товара -->
    <div id="productAttributesModal" class="modal">
        <!-- <span class="close" onclick="closeModal('productAttributesModal')">&times;</span> -->
        <form id="attributesForm" method="POST" class="form_cat">
            <h3 class="modal_title" id="attributesModalTitle">Характеристики товара</h3>
            
            <div id="attributesLoading">
                Загрузка характеристик...
            </div>
            
            <div id="attributesContent" class="form_group" style="display: none;">
                <div id="attributesList">
                    
                    <!-- Сюда JS будет добавлять поля -->

                    
                </div>
                
                <div class="modal_actions">
                    <button type="button" class="but_save" onclick="saveProductAttributes()">Сохранить</button>
                    <button type="button" class="but_cancel" onclick="closeModal('productAttributesModal')">Отмена</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Модальное окно для добавления характеристики -->
    <div id="addAttributeModal" class="modal">
        <!-- <span class="close" onclick="closeModal('addAttributeModal')">&times;</span> -->
        <form method="POST" action="/admin/add_attribute" class="form_cat">
            <h3 class="modal_title">Добавление характеристики</h3>
            
            <div class="form_group">
                <label class="form_label">
                    Категория:
                    <select name="category_id" class="form_input" required>
                        <option value="">Выберите категорию</option>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            
            <div class="form_group">
                <label class="form_label">
                    Название характеристики:
                    <input type="text" name="name" class="form_input" placeholder="Например: Внутренний диаметр" required>
                </label>
            </div>
            
            <div class="form_group">
                <label class="form_label">
                    Единица измерения (необязательно):
                    <input type="text" name="unit" class="form_input" placeholder="Например: мм, шт, кг">
                </label>
            </div>
            <div class="modal_actions">
                <button type="submit" class="but_save">Сохранить</button>
                <button type="button" class="but_cancel" onclick="closeModal('addAttributeModal')">Отмена</button>
            </div>
        </form>
    </div>

    <!-- Модальное окно для редактирования характеристики -->
    <div id="editAttributeModal" class="modal">
        <!-- <span class="close" onclick="closeModal('editAttributeModal')">&times;</span> -->
        <form id="editAttributeForm" method="POST" class="form_cat">
            <h3 class="modal_title">Редактирование характеристики</h3>
            
            <div class="form_group">
                <label class="form_label">
                    Категория:
                    <select id="edit_attribute_category" name="category_id" class="form_input" required>
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            
            <div class="form_group">
                <label class="form_label">
                    Название характеристики:
                    <input type="text" id="edit_attribute_name" name="name" class="form_input" required>
                </label>
            </div>
            
            <div class="form_group">
                <label class="form_label">
                    Единица измерения:
                    <input type="text" id="edit_attribute_unit" name="unit" class="form_input" placeholder="Например: мм">
                </label>
            </div>
            
            <div class="modal_actions">
                <button type="submit" class="but_save">Сохранить изменения</button>
                <button type="button" class="but_cancel" onclick="closeModal('editAttributeModal')">Отмена</button>
            </div>
        </form>
    </div>

    <!-- Модальное окно для удаления атрибутов -->
    <div id="deleteAttributeModal" class="modal">
        <div class="modal_delete">
            <!-- <span class="close" onclick="closeModal('deleteAttributeModal')">&times;</span> -->
            <h3 class="modal_title">Подтверждение удаления</h3>
            <p id="delete_attribute_message">Вы действительно хотите удалить эту характеристику?</p>
            <div class="modal_actions">
                <button class="but_del" onclick="confirmDeleteAttribute()">Удалить</button>
                <button class="but_cancel" onclick="closeModal('deleteAttributeModal')">Отмена</button>
            </div>
        </div>
    </div>
    
    <!-- Модальное окно для просмотра товаров заявки -->
    <div id="requestItemsModal" class="modal">
        <!-- <span class="close" onclick="closeModal('requestItemsModal')">&times;</span> -->
        <div class="form_cat">
            <h3 class="modal_title" id="requestModalTitle">Товары в заявке</h3>
            <div id="requestItemsList" class="request_items_list"></div>
            <div class="modal_actions">
                <button type="button" class="but_cancel" onclick="closeModal('requestItemsModal')">Закрыть</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>