<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kat_tovars.css') }}">
    <title>ИнТехЛайт - Каталог - Подшипники</title>
</head>
<body>
    <header>
        <div class="header_inner">
            <div class="header_logo">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/small/icons.png') }}" alt="Логотип ИнТехЛайт"/></a>
            </div>
            <a href="{{ url_for('main.catalog') }}"><button class="but_catalog">Каталог</button></a>
         
            <nav>
                <ul class="header_nav_menu">
                    <li>
                        <a href="#">
                            Доставка
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Реквизиты
                        </a>
                    </li>
                    <li><a href="#">
                        Контакты
                    </a>
                    </li>
                    <li>
                        <a href="#">
                            Сертификаты
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="header_button_icons">
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector1.png') }}"/>
                </button>
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector2.png') }}" alt="Избранное"/>
                </button>
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector3.png') }}" alt="Корзина"/>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="section_kategory">
            <div class="section_catalog_info">
                <h3 id="cat_info_nav">Главная / Каталог / {{ category.name }}</h3>
                <h3>{{ category.name }}</h3>
            </div>
            <div class="section_products_podship">
                {% for product in products %}
                <div class="post_poshipniki">
                    <div class="izb_wrapper">
                        <img src="{{ url_for('static', filename='img/small/izbrannoe.png') }}" id="but_izb" alt="В избранное"/>
                    </div>
                    <div class="product_image">
                        <img src="{{ url_for('static', filename='img/small/' + product.image) }}" alt="Картинка товара"/>
                    </div>
                    <a href="{{ url_for('main.product_detail', product_id=product.id) }}">
                        <h3 class="post_name">{{ product.name }}</h3>
                    </a>
                    <a href="{{ url_for('main.product_detail', product_id=product.id) }}">
                        <p>{{ product.short_specs }}</p>
                    </a>
                    <a href="{{ url_for('main.product_detail', product_id=product.id) }}">
                        <h3>{{ product.price }} ₽ / {{ product.unit or 'шт' }}</h3>
                    </a>
                </div>
                {% endfor %}
                <!-- <div class="post_poshipniki">
                    <div class="izb_wrapper">
                        <img src="../resources/img/izbrannoe.png" id="but_izb" alt="В избранное"/>
                    </div>
                    <div class="product_image">
                        <img src="../resources/img/podship_skf.png" alt="Подшипник SKF"/>
                    </div>
                    <h3 id="post_name">Подшипник SKF и NTN</h3>
                    <p>7x19x6мм</p>
                    <h3>608 ₽ / шт</h3>
                </div>
                <div class="post_poshipniki">
                    <div class="izb_wrapper">
                        <img src="../resources/img/izbrannoe.png" id="but_izb" alt="В избранное"/>
                    </div>
                    <div class="product_image">
                        <img src="../resources/img/podship_skf.png" alt="Подшипник SKF"/>
                    </div>
                    <h3 id="post_name">Подшипник SKF и NTN</h3>
                    <p>7x19x6мм</p>
                    <h3>608 ₽ / шт</h3>
                </div>
                <div class="post_poshipniki">
                    <div class="izb_wrapper">
                        <img src="../resources/img/izbrannoe.png" id="but_izb" alt="В избранное"/>
                    </div>
                    <div class="product_image">
                        <img src="../resources/img/podship_skf.png" alt="Подшипник SKF"/>
                    </div>
                    <h3 id="post_name">Подшипник SKF и NTN</h3>
                    <p>7x19x6мм</p>
                    <h3>608 ₽ / шт</h3>
                </div> -->
            </div>

        </section>
    </main>
    
</body>
</html>