<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kat_tovars.css') }}">
    <title>ИнТехЛайт - Каталог</title>
</head>
<body>
    <header>
        <div class="header_inner">
            <div class="header_logo">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/small/icons.png') }}" alt="Логотип ИнТехЛайт"/></a>
            </div>
            <nav class="header_nav">
                <ul class="header_nav_menu">
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Сертификаты</a></li>
                </ul>
            </nav>
            <div class="header_link_icons">
                <a href="{{ url_for('main.catalog') }}" class="link_catalog"><img src="{{ url_for('static', filename='img/small/cat.svg') }}"/>Каталог</a>
                <a href="{{ url_for('cart.cart_page') }}" class="link_cart" id="cart-link">
                    <img src="{{ url_for('static', filename='img/small/cart.svg') }}" alt="Корзина"/>
                    <span id="cart_count" class="cart_badge">{{ total_cart_items }}</span>
                    Корзина
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="section_kategory">
            <nav aria-label="Breadcrumb" class="section_products_info">
                <ul class="info_list">
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li>/</li>
                    <li><a href="{{ url_for('main.catalog') }}">Каталог</a></li>
                    <li>/</li>
                    <li>{{ category.name }}</li>
                </ul>
                <h1>{{ category.name }}</h1>
            </nav>
            <div class="section_products_podship">
                {% for product in products %}
                <article class="post_poshipniki">
                    <a href="{{ url_for('main.product_detail', product_id=product.id) }}" class="product_link">
                        <div class="product_image">
                            <img src="{{ url_for('static', filename='img/small/' + product.image) }}" alt="Картинка товара"/>
                        </div>
                        <h2 class="post_name">{{ product.name }}</h2>
                        <p>{{ product.short_specs }}</p>
                        <p id="cena">{{ product.price }} ₽ / {{ product.unit or 'шт' }}</p>
                    </a>
                </article>
                {% endfor %}
            </div>

        </section>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>