<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kat_tovars.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header_footer.css') }}">
    <title>ИнТехЛайт - Каталог</title>

    <meta name="description" content="{{ category.name }} в каталоге ИнТехЛайт. Большой выбор, низкие цены, доставка по России.">
    <meta property="og:title" content="{{ category.name }} - ИнТехЛайт">
    <meta property="og:description" content="Купить {{ category.name|lower }} от надежного поставщика. В наличии и под заказ.">
</head>
<body>
    <header>
        <div class="header_inner">
            <div class="header_logo">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/small/icons.svg') }}" alt="Логотип ИнТехЛайт"/></a>
            </div>
            <div class="header_link_icons">
                <a href="{{ url_for('main.catalog') }}" class="link_catalog"><img src="{{ url_for('static', filename='img/small/cat.svg') }}"/>Каталог</a>
                <a href="{{ url_for('cart.cart_page') }}" class="link_cart" id="cart-link">
                    <img src="{{ url_for('static', filename='img/small/cart.svg') }}" alt="Корзина"/>
                    <span id="cart_count" class="cart_badge {% if total_cart_items > 0 %}visible{% endif %}">{{ total_cart_items }}</span>
                    Корзина
                </a>
                <button onclick="openFeedbackModal()" class="but_request"><img src="{{ url_for('static', filename='img/small/quest.svg') }}"/>Помощь</button>
            </div>
        </div>
    </header>

    <main>
        <section class="section_kategory">

            <nav class="section_products_info">
                <ul class="info_list">
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li>/</li>
                    <li><a href="{{ url_for('main.catalog') }}">Каталог</a></li>
                    <li>/</li>
                    <li>{{ category.name }}</li>
                </ul>
                <h1>{{ category.name }}</h1>
            </nav>

            <div class="section_products_podship">
                {% for product in products %}

                <article class="post_poshipniki">
                    <a href="{{ url_for('main.product_detail', product_id=product.id) }}" class="product_link">
                        <div class="product_image">
                            <img src="{{ url_for('static', filename='img/small/' + product.image) }}" alt="Картинка товара"/>
                        </div>
                        <h2 class="post_name">{{ product.name }}</h2>
                        <p>{{ product.short_specs }}</p>
                        <p id="cena">{{ product.price }} ₽ / {{ product.unit or 'шт' }}</p>
                    </a>
                </article>

                {% endfor %}
            </div>

        </section>
    </main>
    
    <footer class="footer">
        <div class="footer_column">
            <h3 class="footer_title">Меню сайта</h3>
            <nav>
                <ul class="footer_menu">
                    <li><a href="{{ url_for('main.index') }}">Главная страница</a></li>
                    <li><a href="{{ url_for('main.index') }}#about_company">О компании</a></li>
                    <li><a href="{{ url_for('main.index') }}#advantages">Наши преимущества</a></li>
                    <li><a href="{{ url_for('main.index') }}#order_problems">Проблемы с заказом</a></li>
                    <li><a href="{{ url_for('main.catalog') }}">Каталог</a></li>
            </ul>
            </nav>
        </div>
        
        <div class="footer_column">
            <h3 class="footer_title">Контактная информация</h3>
            <ul class="footer_menu">
                <li><p>г. Ростов-на-Дону, ул. Буквенная д. 25, / <br/>
                    ДНР, г. Донецк, ул. Баумана, д. 11</p></li>
                <li><a href="tel:+79498256121">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="tel:+79281242620">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="mailto:sgpz-bearings@mail.ru">Эл. почта: eeeeeee@mail.ru</a></li>
            </ul>
        </div>
        <div class="footer_column" id="politika">
            <div class="footer_bottom_content">
                <p>© ООО «ИнТехЛайт»</p>
                <a href="{{ url_for('feedback.privacy_policy') }}">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>