<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/katalog.css') }}">
    <title>ИнТехЛайт - Каталог</title>
</head>
<body>
    <header>
        <div class="header_inner">
            <div class="header_logo">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/small/icons.png') }}" alt="Логотип ИнТехЛайт"/></a>
            </div>
            <a href="{{ url_for('catalog') }}"><button class="but_catalog">Каталог</button></a>
         
            <nav>
                <ul class="header_nav_menu">
                    <li>
                        <a href="#">
                            Доставка
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Реквизиты
                        </a>
                    </li>
                    <li><a href="#">
                        Контакты
                    </a>
                    </li>
                    <li>
                        <a href="#">
                            Сертификаты
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="header_button_icons">
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector1.png') }}"/>
                </button>
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector2.png') }}" alt="Избранное"/>
                </button>
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector3.png') }}" alt="Корзина"/>
                </button>
            </div>
        </div>
    </header>

    <main>
        <section class="section_katalog">
            <div class="section_catalog_info">
                <h3 id="cat_info_nav">Главная / Каталог</h3>
                <h3>Каталог</h3>
            </div>
            <div class="section_products_post">
                {% for category in categories %}
                <div class="post">
                    <a href="{{ url_for('category_products', cat_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/small/' + category.image) }}"/>
                        <h3>{{ category.name }}</h3>
                    </a>
                </div>
                {% endfor %}
                <!-- <div class="post">
                    <a href="#">
                        <img src="../resources/img/cepi.png"/>
                        <h3>Цепи</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/shkivi.png"/>
                        <h3>Ремни, шкивы, втулки</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/uplot.png"/>
                        <h3>Уплотнения и сальники</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/gidravlika.png"/>
                        <h3>Гидравлика и шланги</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/silikon.png"/>
                        <h3>Силиконовые материалы</h3>
                    </a>
                </div> -->
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="footer_column">
            <h3 class="footer_title">Меню сайта</h3>
            <nav>
                <ul class="footer_menu">
                    <li><a href="{{ url_for('index') }}">Главная страница</a></li>
                    <li><a href="{{ url_for('catalog') }}">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Сертификаты</a></li>
            </ul>
            </nav>
        </div>
        
        <div class="footer_column">
            <h3 class="footer_title">Контактная информация</h3>
            <ul class="footer_menu">
                <li><a>г. Ростов-на-Дону, ул. Буквенная д. 25, / <br/>
                    ДНР, г. Донецк, ул. Баумана, д. 11</a></li>
                <li><a href="tel:+79498256121">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="tel:+79281242620">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="mailto:sgpz-bearings@mail.ru">Эл. почта: eeeeeee@mail.ru</a></li>
            </ul>
        </div>

        <div class="footer_column">
            <h3 class="footer_title">Мессенджеры</h3>
            <ul class="footer_menu">
                <li><a href="#" class="messenger-link">Написать в WhatsApp</a></li>
                <li><a href="#" class="messenger-link">Написать в Telegram</a></li>
                <li><a href="#" class="messenger-link">Сообщество ВКонтакте</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <a>© ООО «ИнТехЛайт»</a>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>
</body>
</html>