<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/katalog.css') }}">
    <title>ИнТехЛайт - Каталог</title>
</head>
<body>
    <header>
        <div class="header_inner">
            <div class="header_logo">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/small/icons.png') }}" alt="Логотип ИнТехЛайт"/></a>
            </div>
            <nav class="header_nav">
                <ul class="header_nav_menu">
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Сертификаты</a></li>
                </ul>
            </nav>
            <div class="header_link_icons">
                <a href="{{ url_for('main.catalog') }}" class="link_catalog"><img src="{{ url_for('static', filename='img/small/cat.svg') }}"/>Каталог</a>
                <a href="{{ url_for('cart.cart_page') }}" class="link_cart" id="cart-link">
                    <img src="{{ url_for('static', filename='img/small/cart.svg') }}" alt="Корзина"/>
                    <span id="cart_count" class="cart_badge">{{ total_cart_items }}</span>
                    Корзина
                </a>
            </div>
        </div>
    </header>

    <main>
        <section class="section_katalog">
            <nav aria-label="Breadcrumb" class="section_catalog_info">
                <ul class="info_list">
                    <li><a href="{{ url_for('main.index') }}">Главная</a></li>
                    <li>/</li>
                    <li>Каталог</li>
                </ul>
                <h1>Каталог</h1>
            </nav>
            <div class="section_products_post">
                {% for category in categories %}
                <article class="post">
                    <a href="{{ url_for('main.category_products', cat_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/small/' + (category.image if category.image else 'default.png')) }}"/>
                        <h3>{{ category.name }}</h3>
                    </a>
                </article>
                {% endfor %}
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="footer_column">
            <h3 class="footer_title">Меню сайта</h3>
            <nav>
                <ul class="footer_menu">
                    <li><a href="{{ url_for('main.index') }}">Главная страница</a></li>
                    <li><a href="{{ url_for('main.catalog') }}">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Сертификаты</a></li>
            </ul>
            </nav>
        </div>
        
        <div class="footer_column">
            <h3 class="footer_title">Контактная информация</h3>
            <ul class="footer_menu">
                <li><a>г. Ростов-на-Дону, ул. Буквенная д. 25, / <br/>
                    ДНР, г. Донецк, ул. Баумана, д. 11</a></li>
                <li><a href="tel:+79498256121">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="tel:+79281242620">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="mailto:sgpz-bearings@mail.ru">Эл. почта: eeeeeee@mail.ru</a></li>
            </ul>
        </div>

        <div class="footer_column">
            <h3 class="footer_title">Мессенджеры</h3>
            <ul class="footer_menu">
                <li><a href="#" class="messenger-link">Написать в WhatsApp</a></li>
                <li><a href="#" class="messenger-link">Написать в Telegram</a></li>
                <li><a href="#" class="messenger-link">Сообщество ВКонтакте</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <a>© ООО «ИнТехЛайт»</a>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>