<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- <link rel="stylesheet" href="../resources/css/glavnaya_design.css"> -->
    <title>ИнТехЛайт - Главная</title>
</head>
<body>
    <header>
        <div class="header_inner">
            <div class="header_logo">
                <a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='img/small/icons.png') }}" alt="Логотип ИнТехЛайт"/></a>
            </div>
            <a href="{{ url_for('main.catalog') }}"><button class="but_catalog">Каталог</button></a>
         
            <nav>
                <ul class="header_nav_menu">
                    <li>
                        <a href="#">
                            Доставка
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Реквизиты
                        </a>
                    </li>
                    <li><a href="#">
                        Контакты
                    </a>
                    </li>
                    <li>
                        <a href="#">
                            Сертификаты
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="header_button_icons">
                <button onclick="openModal()">
                    <img src="{{ url_for('static', filename='img/small/Vector1.png') }}"/>
                </button>
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector2.png') }}" alt="Избранное"/>
                </button>
                <button>
                    <img src="{{ url_for('static', filename='img/small/Vector3.png') }}" alt="Корзина"/>
                </button>
            </div>
        </div>
    </header>

<!-- Интро -->
 
    <main>
        <div class="main_intro_inner">
            <div class="main_intro_inner_rectangle">
                <div class="main_intro_inner_rectangle_info">
                    <h1>
                        ИнТехЛайт
                    </h1>
                    <h3>
                        Надежный
                    </h3>
                    <h3>
                        Поставщик
                    </h3>
                </div>
                <div class="main_intro_inner_rectangle_button">
                    <button>Оставить заявку</button>
                </div>
                <div class="main_intro_inner_rectangle_info2">
                    <div class="circle"></div>
                    <p>
                        Огромный ассортимент товара в наличие
                    </p>
                </div>
            </div>
            <div class="main_intro_inner_photo"></div>
        </div>

        <!-- Секция наши продукты -->

        <section class="products_section">
            <div class="products_section_info">
                <div class="section_info_line"></div>
                <h3>Наша продукция</h3>
            </div>
            <div class="products_section_post">
                {% for category in categories %}
                <div class="post">
                    <a href="{{ url_for('main.category_products', cat_id=category.id) }}">
                        <img src="{{ url_for('static', filename='img/small/' + category.image) }}" alt="{{ category.name }}"/>
                        <h3>{{ category.name }}</h3>
                    </a>
                </div>
                <!-- <div class="post">
                    <a href="#">
                        <img src="../resources/img/cepi.png"/>
                        <h3>Цепи</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/shkivi.png"/>
                        <h3>Ремни, шкивы, втулки</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/uplot.png"/>
                        <h3>Уплотнения и сальники</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/gidravlika.png"/>
                        <h3>Гидравлика и шланги</h3>
                    </a>
                </div>
                <div class="post">
                    <a href="#">
                        <img src="../resources/img/silikon.png"/>
                        <h3>Силиконовые материалы</h3>
                    </a>
                </div> -->
                {% endfor %}
            </div>
        </section>

<!-- Секция преимущества -->

        <section class="section_advantages">
            <div class="section_advantages_info">
                <div class="section_info_line"></div>
                <h3>Наши преимущества</h3>
            </div>
            
            <div class="section_advantages_post">
                <div class="advantages_post">
                    <div class="advantages_post_header">
                        <h3>Ассортимент</h3>
                        <img src="{{ url_for('static', filename='img/small/assortiment.png') }}" alt="Ассортимент"/>
                    </div>
                    <p>Более 10 000 позиций <br/>
                        подшипников, цепей, РТИ и <br/>
                        промышленных товаров
                    </p>
                </div>
                
                <div class="advantages_post">
                    <div class="advantages_post_header">
                        <h3>Доставка</h3>
                        <img src="{{ url_for('static', filename='img/small/delivery.png') }}" id="img_delivery" alt="Доставка"/>
                    </div>
                    <p>Отправка в день заказа. <br/>
                        Работаем по всей России и ДНР
                    </p>
                </div>
                
                <div class="advantages_post">
                    <div class="advantages_post_header">
                        <h3>Качество</h3>
                        <img src="{{ url_for('static', filename='img/small/kachestvo.png') }}" alt=""/>
                    </div>
                    <p>Вся продукция <br/>
                        сертифицирована, только <br/>
                        от проверенных производителей
                    </p>
                </div>
            </div> 
        </section> 

<!-- Секция как сделать заказ -->
        <section class="section_instructions">
            <div class="section_instructions_header">
                <div class="section_info_line"></div>
                <h3>Как сделать заказ</h3>
            </div>
            <div class="section_instructions_info">
                <div class="section_instructions_info_post">
                    <div class="instructions_info_post">1</div>
                    <h3>
                        Выберите способ связи
                    </h3>
                    <p>Позвоните нам, <br/>
                        напишите на почту или <br/>
                        заполните форму на сайте.
                    </p>
                </div>
                <div class="section_instructions_info_line"></div>

                <div class="section_instructions_info_post">
                    <div class="instructions_info_post">2</div>
                    <h3>
                        Получите расчёт
                    </h3>
                    <p>Позвоните нам, <br/>
                        напишите на почту или <br/>
                        заполните форму на сайте.
                    </p>
                </div>
                <div class="section_instructions_info_line"></div>

                <div class="section_instructions_info_post">
                    <div class="instructions_info_post">3</div>
                    <h3>
                        Расскажите, что нужно
                    </h3>
                    <p>
                        Назовите артикул <br/>
                        или продукцию <br/>
                        ИнТехЛайт
                    </p>
                </div>
                <div class="section_instructions_info_line"></div>

                <div class="section_instructions_info_post">
                    <div class="instructions_info_post">4</div>
                    <h3>
                        Подтвердите заказ
                    </h3>
                    <p>
                        После согласования <br/>
                        отправим счёт и <br/>
                        запустим отгрузку.
                    </p>
                </div>
                <div class="section_instructions_info_line"></div>
            </div>
        </section> 

        <section class="section_sotrudnichestvo">
            <div class="section_sotrudnichestvo_header">
                <h4>
                    Готовы начать сотрудничество?
                </h4>
            </div>
            <div class="section_sotrudnichestvo_info">
                <div class="sotrudnichestvo_container_post">
                    <h3>Оставьте заявку прямо сейчас</h3>
                    <p>Заполните форму, и наш менеджер <br/>
                        свяжется с вами в течение часа. <br/>
                        Получите консультацию и коммерческое <br/>
                        предложение в кратчайшие сроки.</p>
                    <button>Оставить заявку</button>
                </div>
                <div id="sotrudnichestvo_container_post2">
                    <h3>Или свяжитесь с нами </h3>
                    <p>Телефон: +7 ХХХ ХХХ-ХХ-ХХ</p>
                    <p>Email: еееееееееее17@gmail.com</p>
                    <p>Режим работы: Пн-Пт 9:00-18:00</p>
                    <p>Адрес: Буквенная улица д. 25</p>
                    <p>Мы всегда на связи. <br/>
                        Доверьте поставку ИнТехЛайт.</p>
                </div>
            </div>
        </section>

        <section class="section_end_intro">
            <div class="section_end_intro_info">
                <h3>ИнТехЛайт — Ваш надёжный партнёр</h3>
                <p>Качественные комплектующие, быстрая доставка и профессиональный сервис. <br/>
                    Начните сотрудничество с нами сегодня и убедитесь в надёжности ИнТехЛайт.</p>
                <button>Оставить заявку</button>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer_column">
            <h3 class="footer_title">Меню сайта</h3>
            <nav>
                <ul class="footer_menu">
                    <li><a href="#">Главная страница</a></li>
                    <li><a href="{{ url_for('main.catalog') }}">Каталог</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Реквизиты</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Сертификаты</a></li>
            </ul>
            </nav>
        </div>
        
        <div class="footer_column">
            <h3 class="footer_title">Контактная информация</h3>
            <ul class="footer_menu">
                <li><a>г. Ростов-на-Дону, ул. Буквенная д. 25, / <br/>
                    ДНР, г. Донецк, ул. Баумана, д. 11</a></li>
                <li><a href="tel:+79498256121">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="tel:+79281242620">+7 ХХХ ХХХ-ХХ-ХХ</a></li>
                <li><a href="mailto:sgpz-bearings@mail.ru">Эл. почта: eeeeeee@mail.ru</a></li>
            </ul>
        </div>

        <div class="footer_column">
            <h3 class="footer_title">Мессенджеры</h3>
            <ul class="footer_menu">
                <li><a href="#" class="messenger-link">Написать в WhatsApp</a></li>
                <li><a href="#" class="messenger-link">Написать в Telegram</a></li>
                <li><a href="#" class="messenger-link">Сообщество ВКонтакте</a></li>
            </ul>
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom-content">
                <a>© ООО «ИнТехЛайт»</a>
                <a href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </footer>

    <!-- Модальное окно для входа/регистрации -->
     <div id="authModal" class="modal">
        <div class="modal_content">
            <span class="close" onclick="closeModal()">&times;</span>
            <!-- Вкладки -->
             <div class="auth_nav">
                <button class="nav_log active" onclick="switchTab('login')">Вход</button>
                <button class="nav_log" onclick="switchTab('register')">Регистрация</button>
            </div>
            
            <!-- Форма входа -->
             <div id="loginTab" class="tab_content active">
                <form onsubmit="submitLogin(event)">
                    <input type="text" name="username" placeholder="Имя пользователя" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <button type="submit">Войти</button>
                </form>
            </div>
            <!-- Форма регистрации -->
             <div id="registerTab" class="tab_content">
                <form onsubmit="submitRegister(event)">
                    <input type="text" name="username" placeholder="Имя пользователя" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <input type="password" name="confirm_password" placeholder="Подтвердите пароль" required>
                    <button type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>